.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item:last-child {
  margin-bottom: 0;
}

.task-list li:active {
  background-color: #f0f0f0;
}

.task-list li.draggable {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
